*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFC8A6;
}
.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}
.quiz h1 {
    font-size: 2.5rem;
    color: #FF6F61;
    margin-bottom: 20px;
}
.quiz h2 {
    font-size: 1.5rem;
    color: #6A0572;
    margin-bottom: 20px;
}
.quiz article {
    text-align: center;
}
.quiz a {
    text-decoration: none;
    color: #fff;
    border: 2px solid #000;
    border-radius: 15px;
    background: transparent;
    padding: 1rem;
    max-width: 100px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}
.quiz a:hover {
    background-color: #FF6F61;
    color: #fff;
    scale: 1.3;
}